doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    base(href="/")
    title Emotif
    meta(name="description", content="Emotif")
    //- meta(name="viewport", content="width=device-width")
    //- Unable mobile browser zoom in/out
    meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
    //- Enable mobile app native look
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    //- Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel="apple-touch-icon",  href="/emotif-icon-small.png")
    link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")
    link(rel="stylesheet", href="/css/ionic.css")
    link(rel="stylesheet", href="/css/nv.d3.css")
    link(rel="stylesheet", href="/css/main.css")

  body

    //- Add your site or application content here
    block pageContent

    //- // Google Analytics: change UA-XXXXX-X to be your site's ID.
    //- script.
    //-   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    //-   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    //-   g.src='//www.google-analytics.com/ga.js';
    //-   s.parentNode.insertBefore(g,s)}(document,'script'));

    script(src="/js/jquery.js")
    script(src="/js/ionic.js")
    script(src="/js/d3.js")
    script(src="/js/nv.d3.js")
    script(src="/js/facebook.js")

    block js
    
