div(ng-include='\'partials/navbar\'')

.jumbotron
  div.bigheader
    h3.
      How are you feeling now?

  .row
    .col-sm-6
      a(href='/trend')
        button.btn.btn-primary.btn-block(type='button') +2
    .col-sm-6
      a(href='/trend')
        button.btn.btn-info.btn-block(type='button') +1
  .row
    .col-sm-12
      a(href='/content')
        button.btn.btn-success.btn-block(type='button') 0
  .row
    .col-sm-6
      a(href='/content')
        button.btn.btn-warning.btn-block(type='button') -1
    .col-sm-6
      a(href='/content')
        button.btn.btn-danger.btn-block(type='button') -2

    div.back
      a.btn.btn-lg.btn-success(ng-href='/') Back
