.logo
  a(href="/")
    img(src="images/logo.png" alt="LOGO")

.jumbotron
  div.bigheader
    h3.
      Congrats!
    p.
      You have shared your mood trend to Facebook!

  div.trend
    //- | Show my trend here...  
    //- svg#trendchart
    div.fakechart.row
      //- div.col-md-12
      img(src="images/facebook.png", alt="Facebook")
    

.row
  .col-xs-6.col-xs-offset-3
    a.btn.btn-primary.btn-block(href='/trend') See trend

.spacer

.footer
  p ♥ from the Emotif team
