div(ng-include='\'partials/navbar\'')

.jumbotron
  div.bigheader
    h1.
      Your mood trend
 

  div.trend
    //- | Show my trend here...  
    //- svg#trendchart
    div.fakechart.row
      //- div.col-md-12
      img(src="images/fakechart.png", alt="Rendering...")
    

  div.back
      a.btn.btn-lg.btn-success(ng-href='/select') Back

.footer
  p ♥ from the Emomew / Emotif team
