extends content

block recommendContent

  .item.item-top
    p Why not try to talk to a friend?
    
  .item.item-body.item-middle
    p.first Talk about

    .row
      .col.col-80.col-offset-10
        div.topic#topic Loading topics...

    p with friend:
    
    .row
      .col.col-80.col-offset-10
        div.friend#friendname Picking your friends...

    div.card-spacer

    .item.item-body.item-bottom.item-card-button
      .row
        .col.col-50
          a.button.button-outline.button-positive.button-block#content-refresh-button Who else?
        .col.col-50
          a.button.button-outline.button-balanced.button-block(href="tel:")#dial-button
            i.icon.ion-ios7-telephone-outline
            |   Call friend

    p.subdued
      label#like-number   
      |  people like you find this useful!

block js
  script(src="/js/apple-locality.js")  
  script(src="/js/contact.js")