

extends ../index

block pageContent
  .bar.bar-header.bar-emotif
    a.button.button-clear.icon.ion-ios7-arrow-back#content-back-button
    h1.title.bar-title Emotif

  //- header-bar(title="'header'")

  //- content(has-header='true' has-footer='true' scroll='true')
  .scroll-content.has-header.has-tabs.overflow-scroll
    .list.card.content-bottom-spacer(ng-model='video')
      block recommendContent

      //-   iframe.full-image(id='ytplayer' type='text/html' src="{{video.url}}" allowfullscreen="true" frameborder="0")
      //-   p
      //-     b {{video.caption}}
      //-     br
      //-     | Watch this funny video and you'll feel relaxed!
      //-   p.subdued {{video.likes}} people like you find this useful!

      .item.tabs.tabs-secondary.tabs-icon-left
        a.tab-item#content-refresh-button
          i.icon.ion-refresh
          | Another
        a.tab-item#content-like-button
          i.icon.ion-thumbsup
          | I like it
        a.tab-item#content-better-button
          i.icon.ion-heart
          | I'm better
    .content-bottom-spacer
    //- a.tab-item#nav-select
    //-   i.icon.ion-ios7-sunny-outline
    //-   p Select
  .tabs.tabs-icon-top
    a.tab-item#nav-select
      i.icon.ion-ios7-sunny-outline
      p Select
    a.tab-item#nav-trend
      i.icon.ion-ios7-speedometer-outline
      p Trend
    a.tab-item#nav-settings
      i.icon.ion-ios7-gear-outline
      p Settings

    //- a.tab-item
    //-   i.icon.ion-ios7-albums
    //-   p Content
    //- a.tab-item#nav-trend
    //-   i.icon.ion-ios7-speedometer-outline
    //-   p Trend
    //- a.tab-item#nav-settings
    //-   i.icon.ion-ios7-gear-outline
    //-   p Settings

block js
  script(src="/js/apple-locality.js")
  script(src="/js/content.js")
  
//- <div class="list card">

//-   <div class="item item-avatar">
//-     <img src="mcfly.jpg">
//-     <h2>Marty McFly</h2>
//-     <p>November 05, 1955</p>
//-   </div>

//-   <div class="item item-body">
//-     <img class="full-image" src="delorean.jpg">
//-     <p>
//-       This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
//-       the content is from a card-body consisting of an image and paragraph text. The footer
//-       consists of tabs, icons aligned left, within the card-footer.
//-     </p>
//-     <p>
//-       <a href="#" class="subdued">1 Like</a>
//-       <a href="#" class="subdued">5 Comments</a>
//-     </p>
//-   </div>

//-   <div class="item tabs tabs-secondary tabs-icon-left">
//-     <a class="tab-item" href="#">
//-       <i class="icon ion-thumbsup"></i>
//-       Like
//-     </a>
//-     <a class="tab-item" href="#">
//-       <i class="icon ion-chatbox"></i>
//-       Comment
//-     </a>
//-     <a class="tab-item" href="#">
//-       <i class="icon ion-share"></i>
//-       Share
//-     </a>
//-   </div>

//- </div>

//- .jumbotron
//-   div.bigheader
//-     h3.
//-       Why not try this out?

//-   div.video
//-     img.mainlogo(src="images/yoga.png" alt="Yoga Video")
//-     br
//-     br
//-     p.lead.
//-       Follow this video and do a 15-minute Yoga!

//- .row
//-   .col-xs-5.col-xs-offset-1
//-     a.btn.btn-warning.btn-block(type='button', href='content2') Try another
//-   .col-xs-5.col-xs-offset-0
//-     a.btn.btn-success.btn-block(type='button', ng-href='/trend', href="/trend") I feel better