extends ../index

block pageContent
  .bar.bar-header.bar-emotif
    h1.title.bar-title Emotif

  .scroll-content.has-header.has-tabs.overflow-scroll
    .list.card.card-shadowed
      .item.item-top Would you like to login with Facebook?
      .item.item-middle
        button.button.button-full.button-balanced.mood-select.button-emotif#fblogin-yes-button Facebook Login
        button.button.button-full.button-positive.mood-select.button-emotif#fblogin-no-button No, thanks

    .content-bottom-spacer

  .tabs.tabs-icon-top.tabs-foot
    a.tab-item
      i.icon.ion-ios7-partlysunny
      p Select Mood
    a.tab-item#nav-trend
      i.icon.ion-ios7-speedometer-outline
      p Mood Trend
    a.tab-item#nav-settings
      i.icon.ion-ios7-gear-outline
      p Settings

block js
  script(src="/js/apple-locality.js")
  script(src="/js/fblogin.js")
