extends ../index

block pageContent
  div#fb-root
  .main-logo
    img(src="img/emotif-logo.png", alt="LOGO")

  .main-center
    div.validate-alert Please enter a valid email address!
    div.fb
    div.intro
      | Track and boost your mood
    form(name='form', novalidate)
      div.list.list-inset
        label.item.item-input.input-alert
          input(id='main-email-input', type='email', placeholder='Email Address')
        label.item.item-input.input-alert
          input(id= 'password', type='password', placeholder='Password')
      div.login-button-area
        button.button.button-block.button-login
          Block Login
      //- .row
      //-   //- .col-66
      //-   //-   p.back
      //-   //-     a.loginfacebook(id="main-facebook-button") Facebook Login
      //-   .col-33.col-offset-66
      //-     p.next
      //-       a.back(id="main-next-button") Next

  .main-footer
    p.
      New User? Create Your Account

block js
  script(src="/js/apple-locality.js")
  script(src="/js/main.js")
  script(src="/js/validate.js")
