extends ../index

block pageContent
  div#fb-root
  .main-logo
    img(src="img/logo.png", alt="LOGO")

  .main-center
    div.fb
    form(name='form', novalidate)
      p.hint.
        Enter your email address to sign in or create a new account:
      label.item.item-input
        //- input(type='email' placeholder='Email Address' ng-model='user.email' required)
        input(id='main-email-input', type='email', placeholder='Email Address', required)
      .row
        .col-66
          p.back
            a.loginfacebook(id="main-facebook-button") Facebook Login
        .col-33
          p.next
            a.back(id="main-next-button") Next

  .main-footer
    p.
      Learn About Emotif

block js
  script(src="/js/main.js")
