extends ../index

block pageContent
  .main-logo
    img(src="img/logo.png", alt="LOGO")

  .main-center
    div#fb-root
    div.fb-login-button(data-max-rows="1", data-size="large", data-show-faces="false", data-auto-logout-link="false")
    form(name='form', novalidate)
      p.hint.
        Enter your email address to sign in or create a new account:
      label.item.item-input
        //- input(type='email' placeholder='Email Address' ng-model='user.email' required)
        input(type='email', placeholder='Email Address', required)
      .row
        .col-33.col-offset-67
          p.next
            a.back(ng-click='next(form)') Next

  .main-footer
    p.
      Learn About Emotif