extends ../index

block pageContent
  //- div#fb-root
  .main-logo
    img(src="img/emotif-logo.png", alt="LOGO")

  .main-center
    //- div.fb
    div.intro
      | Track and boost your mood
    //- form(name='form', novalidate)
    div.list.list-inset
      label.item.item-input.input-login-up#input-alert-email
        input(id='main-email-input', type='email', placeholder='Email Address')
      label.item.item-input.input-login-down#input-alert-password
        input(id= 'main-password-input', type='password', placeholder='Password')
    div.login-button-area
      button.button.button-block.button-login Login

  .main-footer
    p.
      New user? Create your account

block js
  //- script(src="/js/apple-locality.js")
  script(src="/js/main.js")
  script(src="/js/validate.js")
