extends content

block recommendContent

  .item.item-top
    //- p Remember the good old days?
    p Life is beautiful...
    
  .item.item-body.item-bottom
    div
      img.recphoto(src=source)
      br 
      //- p
      //-   b= date
      //- p= name

    p.subdued 
      label#like-number   
      |  people like you find this useful!

block js
  script(src="/js/apple-locality.js")
  script(src="/js/photo.js")
