extends content

block recommendContent
  .item.item-top
    //- p Remember the good old days?
    p Life is beautiful...
    
  .item.item-body.item-bottom
    div
      img.recphoto(src=source)
      br 
      p
        b= date
      p= name

    p.subdued 
      = like + ' people like you find this useful!'

block js
  script(src="/js/apple-locality.js")
  script(src="/js/photo.js")
  script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48458837-2', 'emotif.herokuapp.com');
      ga('send', 'pageview');
  