extends content

block recommendContent
  .item
    //- p Remember the good old days?
    p Remember the time?
    
  .item.item-body
    div
      h3#post-title
      img.postphoto#post-photo
      p.recpost#post-content
        i.ion-refreshing 
        | Loading your Facebook posts...
      br 
      p
        b#post-date
      

    //- p.subdued 
    //-   = like + ' people like you find this useful!'

block js
  script(src="/js/apple-locality.js")
  script(src="/js/post.js")
  