extends ../index

block pageContent
  .bar.bar-header.bar-emotif
    h1.title.bar-title Emotif

  .scroll-content.has-header.overflow-scroll
    .card
      .item.item-divider How are you feeling today?
      .item
        button#p2.button.button-full.button-positive.mood-select Perfect
        button#p1.button.button-full.button-calm.mood-select Good
        button#p0.button.button-full.button-balanced.mood-select Normal
        button#n1.button.button-full.button-energized.mood-select Bad
        button#n2.button.button-full.button-assertive.mood-select Awful

  //- .tabs.tabs-icon-top
  //-   a.tab-item(href="/select")
  //-     i.icon.ion-ios7-sunny-outline.active
  //-     p Select
  //-   a.tab-item(href="/select")
  //-     i.icon.ion-ios7-speedometer
  //-     p Trend
  //-   a.tab-item(href="/settings")
  //-     i.icon.ion-ios7-gear-outline
  //-     p Settings


block js
  script(src="/js/select.js")

//- .jumbotron
//-   div.bigheader
//-     p.
//-       How are you feeling now?

//-   .row
//-     .col-sm-6
//-       a.btn.btn-primary.btn-block(type='button', href='/trend') +2
//-     .col-sm-6
//-       a.btn.btn-info.btn-block(type='button', href='/trend') +1
//-   .row
//-     .col-sm-12
//-       a.btn.btn-success.btn-block(type='button', href='/content') 0
//-   .row
//-     .col-sm-6
//-       a.btn.btn-warning.btn-block(type='button', href='/content') -1
//-     .col-sm-6
//-       a.btn.btn-danger.btn-block(type='button', href='/content') -2

//-     div.back
//-       a.btn.btn-lg.btn-success(ng-href='/') Back
