extends ../index

block pageContent
  .bar.bar-header.bar-emotif
    h1.title.bar-title Emotif

  .scroll-content.has-header.overflow-scroll
    .card
      .item.item-divider How are you feeling today?
      .item

        button#p2.button.button-full.button-positive.mood-select Excited
        button#p1.button.button-full.button-calm.mood-select Happy
        button#p0.button.button-full.button-balanced.mood-select Calm
        button#n1.button.button-full.button-energized.mood-select Sad
        button#n2.button.button-full.button-assertive.mood-select Awful

  .tabs.tabs-icon-top
    a.tab-item
      i.icon.ion-ios7-sunny
      p Select
    a.tab-item#nav-trend
      i.icon.ion-ios7-speedometer-outline
      p Trend
    a.tab-item#nav-settings
      i.icon.ion-ios7-gear-outline
      p Settings


block js
  script(src="/js/apple-locality.js")
  script(src="/js/select.js")
  
