//- .logo
//-   a(href="/")
//-     img(src="images/logo.png" alt="LOGO")

.bar.bar-header.bar-light
  h1.title Emotif

.scroll-content.has-header.overflow-scroll
  .card
    .item.item-divider How are you feeling today?
    .item
      button#p2.button.button-full.button-positive.mood-select(ng-click='SelectMood(2)') Perfect

      button#p1.button.button-full.button-calm.mood-select(ng-click='SelectMood(1)') Good
      button#p0.button.button-full.button-balanced.mood-select(ng-click='SelectMood(0)') Normal
      button#n1.button.button-full.button-energized.mood-select(ng-click='SelectMood(-1)') Bad
      button#n2.button.button-full.button-assertive.mood-select(ng-click='SelectMood(-2)') Awful

//- .jumbotron
//-   div.bigheader
//-     p.
//-       How are you feeling now?

//-   .row
//-     .col-sm-6
//-       a.btn.btn-primary.btn-block(type='button', href='/trend') +2
//-     .col-sm-6
//-       a.btn.btn-info.btn-block(type='button', href='/trend') +1
//-   .row
//-     .col-sm-12
//-       a.btn.btn-success.btn-block(type='button', href='/content') 0
//-   .row
//-     .col-sm-6
//-       a.btn.btn-warning.btn-block(type='button', href='/content') -1
//-     .col-sm-6
//-       a.btn.btn-danger.btn-block(type='button', href='/content') -2

//-     div.back
//-       a.btn.btn-lg.btn-success(ng-href='/') Back
