extends ../index

block pageContent
  .bar.bar-header.bar-emotif
    a.button.button-clear.icon.ion-ios7-arrow-back#settings-back-button
    //- a.button.button-clear
      img(src="/img/back-white.png").bar-icon
    h1.title.bar-title Emotif

  .scroll-content.has-header.has-tabs.overflow-scroll
   .card.card-shadowed
    .list
      .item.item-divider.item-divider-top
        p Acount
      a.item.item-icon-left#connectFacebook.item-middle
        i.icon.ion-person-stalker
        p Connect Facebook
      //- a.item.item-icon-left#changeName
      //-   i.icon.ion-ios7-person
      //-   p Change Name
      a.item.item-icon-left#changePassword.item-middle
        i.icon.ion-ios7-locked
        p Change Password

      .item.item-divider
        p Profile
      a.item#aboutme.item-middle
        p About Me
      a.item#description.item-middle
        p Description
      a.item#interests.item-middle
        p Interests
      a.item#travels.item-middle
        p Travels

      .item.item-divider
        p Content
      ul.list
        li.item.item-toggle.item-middle Content Filtering
          label.toggle
            input(type='checkbox')
            .track
              .handle
        li.item.item-toggle.item-middle Interest Analysis
          label.toggle
            input(type='checkbox')
            .track
              .handle

    .padding
      button.button.button-block.button-assertive.button-emotif#settings-logout-button Log Out


  .tabs.tabs-icon-top.tabs-foot
    a.tab-item#nav-select
      i.icon.ion-ios7-partlysunny-outline
      p Select Mood
    a.tab-item#nav-trend
      i.icon.ion-ios7-speedometer-outline
      p Mood Trend
    a.tab-item
      i.icon.ion-ios7-gear
      p Settings


block js
  script(src="/js/apple-locality.js")
  script(src="/js/settings.js")

