extends ../index

block pageContent
  .main-logo
    img(src="img/emotif-logo.png", alt="LOGO")

  .main-center
    div.validate-alert Password should have more than 3 characters!
    div.intro
      | Track and boost your mood
    div.list.list-inset
      label.item.item-input.input-alert.input-login-up
        input(id='signup-email-input', type='email', placeholder='Email Address')
      label.item.item-input.input-alert.input-login-down
        input(id= 'signup-password-input', type='password', placeholder='Password')
    div.signup-button-area
      button.button.button-block.button-signup
        Block Create Account

  .main-footer
    p.
      Already have account? Log In Here

block js
  script(src="/js/apple-locality.js")
  script(src="/js/signup.js")
  script(src="/js/validate.js")