extends ../index

block pageContent
  .bar.bar-header.bar-emotif
    a.button.button-clear.icon.ion-ios7-arrow-back#trend-back-button
    h1.title.bar-title Emotif

  .scroll-content.has-header.has-tabs.overflow-scroll
    .list.card
      .item.item-top
        p Check out your mood trend here!

      //- canvas#mychart(data-type="Line")
      
      .item.item-body.item-middle
        div#mood-graph
          svg
        //- img.full-image(src="images/fakechart.png")
        
        p#trendcomment
          | Congrats! Seems that you are in a pretty good condition!
          //- br
          //- br
          //- | Exercise can always make you feel better, remember to check out next time you are feeling down.

      .item.tabs.tabs-secondary.tabs-icon-left.item-bottom
        a.tab-item#trend-line-button
          i.icon.ion-arrow-graph-up-right
          |  Line Trend
        a.tab-item#trend-bar-button(style="display: none;")
          i.icon.ion-stats-bars
          |  Bar Trend
        a.tab-item#trend-share-button
          i.icon.ion-share
          |  Share
    .content-bottom-spacer

  .tabs.tabs-icon-top.tabs-foot
    a.tab-item#nav-select
      i.icon.ion-ios7-partlysunny-outline
      p Select Mood
    a.tab-item
      i.icon.ion-ios7-speedometer
      p Mood Trend
    a.tab-item#nav-settings
      i.icon.ion-ios7-gear-outline
      p Settings

block js
  script(src="/js/apple-locality.js")
  script(src='js/trend.js')
