//- .logo
//-   a(href="/")
//-     img(src="images/logo.png" alt="LOGO")

//- .jumbotron
//-   div.bigheader
//-     h3.
//-       Congrats! You are in a good mood!
//-     p.
//-       Your mood trend:

//-   div.trend
//-     //- | Show my trend here...  
//-     //- svg#trendchart
//-     div.fakechart.row
//-       //- div.col-md-12
//-       img(src="images/fakechart.png", alt="Rendering...")
    

//- .row
//-   .col-xs-5.col-xs-offset-1
//-     a.btn.btn-primary.btn-block(href='/content') Back
//-   .col-xs-5.col-xs-offset-0
//-     a.btn.btn-success.btn-block(href='/share') Share it now

//- .spacer

//- .footer
//-   p ♥ from the Emotif team

extends ../index

block pageContent
  .bar.bar-header.bar-emotif
    a.button.button-clear.icon.ion-ios7-arrow-back#trend-back-button
    h1.title.bar-title Emotif

  .scroll-content.has-header.has-tabs.overflow-scroll
    .list.card
      .item
        p Check out your mood trend here!

      //- canvas#mychart(data-type="Line")
      
      .item.item-body
        div#mood-graph
          svg
        //- img.full-image(src="images/fakechart.png")
        
        p#trendcomment
          | Congrats! Seems that you are in a pretty good condition!
          //- br
          //- br
          //- | Exercise can always make you feel better, remember to check out next time you are feeling down.

      .item.tabs.tabs-secondary.tabs-icon-left
        a.tab-item#trend-line-button
          i.icon.ion-arrow-graph-up-right
          |  Line Trend
        a.tab-item#trend-bar-button(style="display: none;")
          i.icon.ion-stats-bars
          |  Bar Trend
        a.tab-item#trend-share-button
          i.icon.ion-share
          |  Share
    .content-bottom-spacer

  .tabs.tabs-icon-top
     a.tab-item#nav-select
            i.icon.ion-ios7-sunny-outline
            p Select
          a.tab-item#nav-trend
            i.icon.ion-ios7-speedometer
            p Trend
          a.tab-item#nav-settings
            i.icon.ion-ios7-gear-outline
            p Settings

    //- a.tab-item#nav-select
    //-   i.icon.ion-ios7-sunny-outline
    //-   p Select
    //-a.tab-item#nav-content
      i.icon.ion-ios7-albums-outline
      p Content
    //-a.tab-item.active
      i.icon.ion-ios7-speedometer
      p Trend
    //-a.tab-item#nav-settings
      i.icon.ion-ios7-gear-outline
      p Settings

block js
  script(src="/js/apple-locality.js")
  script(src='js/trend.js')
