extends content

block recommendContent
  .item
    p Why not try this out today?
    
  .item.item-body
        
    iframe.full-image(id='ytplayer', type='text/html', src='', allowfullscreen="true", frameborder="0")
    p
      b#video-title
      br
      | Watch this funny video and you'll feel relaxed!
    p.subdued
      label#like-number   
      |  people like you find this useful!

block js
  script(src="/js/video.js")
