extends content

block recommendContent
  .item.item-top
    p Why not try this out today?
    
  .item.item-body.item-middle
        
    iframe.full-image(id='ytplayer', type='text/html', src='', allowfullscreen="true", frameborder="0")
    p
      b#video-title
      br
      | Watch this funny video and you'll feel relaxed!
    p.subdued
      label#like-number   
      |  people like you find this useful!

block js
  script(src="/js/apple-locality.js")  
  script(src="/js/video.js")
  script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48458837-2', 'emotif.herokuapp.com');
      ga('send', 'pageview');
  
